.App {
  text-align: center;
}

.app_form{
  padding: 20px;
  margin: 20px ;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 97vw;
  background-color: rgb(204, 201, 201);  
}
.app_formcontrol{
  display: flex !important;
  flex-direction: row !important;
}
.app_input{
  flex:1;
}

.app_inputbutton{
  flex:0;
  padding-right: 20px !important;
}









